.img-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
}

.img-circle-male {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid lightblue;
}

.img-circle-female {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid pink;
}
